/*custom font*/
/*@import url(http://fonts.googleapis.com/css?family=Montserrat);*/

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    height: 100%;
    background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

body {
    /*font-family: montserrat, arial, verdana;*/
    font-family: "微软雅黑", "幼圆";
    width: 100%;
    height: 100%;
}
/*form styles*/
#msform {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    z-index: 9999;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: absolute;
}

fieldset>a{
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

fieldset>a:hover{
    color:#27AEB9 ;
}


#msform>h2{
    color: #464864;
    margin-bottom:30px ;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "微软雅黑", "幼圆";
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27AEB9;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AEB9;
}

#msform .button {
    width: 100px;
    background: #fff;
    font-weight: bold;
    color: #27AEB9;
    border: 1px solid #27AEB9;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .button:hover, #msform .button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AEB9;
}


/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AEB9;
    color: white;
}

canvas {position: fixed;top: 0;
    left: 0;width: 100%; height: 100%; opacity: .25;}

.wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*登录主页*/

#hpbackground{
    min-width: 850px;

    position: absolute;
    margin:  auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 95%;
    background-color: #000;
    opacity: 0.4;
    border-radius: 10px;
    z-index:99;
}
#hpcontainer{
    min-width: 850px;

    position: absolute;
    margin:  auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 90%;
    width: 95%;
    border-radius: 10px;
    z-index:990;
}
/*中间查询结果框*/
.queryResult{
    position: absolute;
    width: 60%;
    height: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid #eeefef;
    border-radius: 2px;
    background-color: #2a5d84;
    /*text-align: center;*/
    /*line-height: 400px;*/
    color: white;
}

.queryResult>div{
    display: none;
}

#cls>div{
    margin: 20px;
}

#cls>div>p{
        line-height: 50px;
}

/*查询结果框结束*/
#hpcontainer>nav{
    width: 18%;
    position: relative;
}


.navList{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    list-style: none;
    margin: auto;
    min-width: 50px;
}

.navList>li{
    text-decoration: none;
    margin: 20px;
    text-align: right;
}

.navList>li>a{
    /*text-align: center;*/
    color: #eeefef;
    text-decoration: inherit;
    padding-right: 0;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: padding-right 0.5s,border-bottom 0.6s;
}

.navList>li.active>a{
    border-bottom: 1px solid #eeefef;

}

.navList>li>a:hover{
    border-bottom: 1px solid #eeefef;
    padding-right: 30px;

}

/*选择框*/

.selector{
    position: absolute;
    right: 0;
    top: 0;
    width: 18%;
    height: 100%;
    margin-top: 30px;
}

.selector>form{
    display: none;
}

.selector>form>select{
    display: inline-block;
    margin: 10px;
    width: 85%;
    border: solid 1px #fffef7;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    background: url("../img/arrow.png") no-repeat right;
    /*background-color: transparent;*/
    font-family:inherit;
    font-size: 12px;
    color: #fffef7;
}

.selector>form>select{
    display: inline-block;
    padding-right: 10px;
}



.selector>form>select>option{
    background-color: transparent;
    color: #333333;
}

.selector>form>input{
    display: inline-block;
    margin: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    font-family:inherit;
    font-size: 12px;
    color: #fffef7;
    background-color: transparent;
    border: none;
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: padding-left 0.5s,border-bottom 0.6s;
    padding-left: 0;
}

.selector>form>input:hover{
    border-bottom: 1px solid #fffef7;
    padding-left: 30px;
}

#keystr{
    display: inline-block;
    margin: 10px;
    width: 85%;
    border: solid 1px #fffef7;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 10px 10px 10px 15px;

}

#keystr:hover{
    border-bottom: solid 1px #fffef7;
    padding-left: 0;
}


/*把地图好好放在框框里*/
/*地图你不要淘气*/

#form1{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    right: 0;
}

#mapshow{
    position: absolute;
    width: 100%;
    height: 100%;
    margin:auto;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    /*border: solid #000 2px;*/
}

#geoInput{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#keystr{
    float: left;
    margin: 5px;
}

#Button1{
    float: left;
    margin: 5px;
}
